* {
    box-sizing: unset;
}
    .spacediv {
        height: 50px;
    }

        .list-group-item-action:hover {
            background: rgb(122, 119, 119);
        }

        h1 {
            pointer-events: none;
        }

